<!DOCTYPE html>
<html>
<body>

<h1 style="background-color:DodgerBlue;">WEBSERVER(HAPROXY)</h1>
<h2>MY WEBSERVER IP: </h2><h1 style="color:red;"><b>{{ ansible_facts['default_ipv4']['address'] }}</b></h1>






</body>
</html>
